<!-- Authors: Group 29 Theresa Quach and Lianghui Wang -->
<!-- Course: CS340 -->
<!-- Project Name: Project Library -->
<!-- Citation:  Adapted from the starter code template from the github Nodejs starter app guide provided by Professor Curry and Professor Safonte from Oregon State University. -->
<!--            (https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main) -->          

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/styles.css" />
        <script src="../app.js"></script>
        <title>Project Library: Authors</title>
    </head>

    <body>
        <header>
            <h1>Authors</h1>
            <div class="home-links">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrowers</a></li>
                    <li><a href="/borrowingrecords.html">Borrowing Records</a></li>
                    <li><a href="/borrowingrecorditems.html">Borrowing Record Items</a></li> 
                </ul>
            </nav>
            </div>
        </header>
        
        <main>
            <div>
                <h2>Browse Authors</h2>
                Authors data will populate here.
                {{!-- Create a table--}}
                <table id="authorsTable">

                    {{!-- Header section --}}
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.authorID}}>
                            <td>{{this.authorID}}</td>
                            <td>{{this.firstName}}</td>
                            <td>{{this.lastName}}</td>
                            <td>{{this.nationality}}</td>
                            <td>{{this.birthdate}}</td>
                            <td><button onclick="deleteAuthor({{this.authorID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/deleteAuthor.js"></script>
            </div>

            <div>
                <h2>Add New</h2>
                All fields must be filled.
                <fieldset>
                    <form method="POST" id="addAuthor" action="/add-author">
                        <span style="margin: 0 10px">
                            <label for="newAuthorFirst">First Name:</label>
                            <input type="text" id="newAuthorFirst" name="newAuthorFirst"/>
                            </span>
                            <span style="margin: 0 10px">
                                <label for="newAuthorLast">Last Name:</label>
                                <input type="text" id="newAuthorLast" name="newAuthorLast"/>
                            </span>
                            <span style="margin: 0 10px">
                                <label for="newNationality">Nationality:</label>
                                <input type="text" id="newNationality" name="newNationality"/>
                            </span>
                            <span style="margin: 0 10px">
                                <label for="newBirthdate">Birthdate:</label>
                                <input type="date" id="newBirthdate" name="newBirthdate"/>
                            </span>
                            <br>
                            <input type="submit">
                    </form>
                </fieldset>
            </div>


            <div>
                <h2>Update</h2>
                All fields must be filled. If deleted authors are still present on dropdown search menu, please refresh the page to get an updated dropdown.
                <fieldset>
                    <form id="updateAuthorForm">
                        <span style="margin: 0 10px">
                            <label for="updateAuthorFullName">Author:</label>
                            <input type="text" id="selectAuthorToUpdate" name="updateAuthorFullName" list="authors" autocomplete="off" size="30" placeholder="Select Author">
                            <datalist id="authors">
                                {{#each authors}}
                                <option value="{{this.authorID}}">{{this.fullAuthorName}} - {{this.birthdate}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateAuthorFirst">First Name:</label>
                            <input type="text" id="updateAuthorFirst" name="updateAuthorFirst"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateAuthorLast">Last Name:</label>
                            <input type="text" id="updateAuthorLast" name="updateAuthorLast"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateNationality">Nationality:</label>
                            <input type="text" id="updateNationality" name="updateNationality"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateBirthdate">Birthdate:</label>
                            <input type="date" id="updateBirthdate" name="updateBirthdate"/>
                        </span>
                        <br>
                        <input type="submit" onclick="return confirm('Are you sure you want to update this author?')"/>
                    </form>
                    <script src="./js/updateAuthor.js"></script>
                </fieldset>
            </div>
        </main>
    </body>
</html>