{{!-- Authors: Group 29 Theresa Quach and Lianghui Wang
Course: CS340 -->
Project Name: Project Library -->
Citation:   Adapted from the starter code template from the github Nodejs starter app guide provided by Professor Curry and Professor Safonte from Oregon State University.
            Code specifically adapted from the guide include portions containing {{handlebar expressions}} and id labels given to the table and forms below.
            Other HTML, including grouping form elements and table elements, represents our own work.
            (https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main) --}}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/styles.css" />
        <script async src="../app.js"></script>
        <title>Project Library: Books</title>
    </head>
    <body>
        <header>
            <h1>Books</h1>
            <div class="home-links">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrowers</a></li>
                    <li><a href="/borrowingrecords.html">Borrowing Records</a></li>
                    <li><a href="/borrowingrecorditems.html">Borrowing Record Items</a></li> 
                </ul>
            </nav>
            </div>
        </header>
        <!-- <p>[<a href="../index.html">Home</a>] [<a href="./authors.html">Authors</a>] [<a href="./publishers.html">Publishers</a>] [<a href="./books.html">Books</a>] [<a href="./borrowers.html">Borrowers</a>] [<a href="./borrowingrecords.html">Borrowing Records</a>] [<a href="./borrowingrecorditems.html">Borrowing Record Items</a>]</p>
        <h1>Books</h1>
        <h4 id="date"></h4> -->
        
        <main>
            <div>
                <h2>Browse Books</h2>
                Books will populate here.
                {{!-- Create a table--}}
                <table id="booksTable">

                    {{!-- Header section --}}
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.bookID}}>
                            <td>{{this.bookID}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.authorName}}</td>
                            <td>{{this.isbn}}</td>
                            <td>{{this.publisher}}</td>
                            <td>{{this.genre}}</td>
                            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/deleteBook.js"></script>
            </div>

            <div>
                <h2>Add New</h2>
                For items with no known publisher, please select first option 'No Publisher'. Optionally, you may leave the field blank. All other fields must be filled.
                <fieldset>
                    <form method="POST" id="addBook" action="/add-book">
                        <span style="margin: 0 10px">
                            <label for="newTitle">Title:</label>
                            <input type="text" id="newTitle" name="newTitle"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newBookAuthor">Author:</label>
                            <input type="text" id="newBookAuthor" name="newBookAuthor" list="authors" autocomplete="off">
                            <datalist id="authors">
                                {{#each authors}}
                                <option value="{{this.authorID}}">{{this.fullAuthorName}} - {{this.birthdate}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newIsbn">ISBN (14 characters max):</label>
                            <input type="text" id="newIsbn" name="newIsbn">
                        </span>

                        <span style="margin: 0 10px">
                            <label for="newBookPub">Publisher:</label>
                            <input type="text" id="newBookPub" name="newBookPub" list="publishers" autocomplete="off">
                            <datalist id="publishers">
                                <option value=NULL><i>No Publisher</i></option>
                                {{#each publishers}}
                                <option value="{{this.publisherID}}">{{this.name}}</option>
                                {{/each}}
                            </datalist>
                        </span>

                        <span style="margin: 0 10px">
                            <label for="newBookGenre">Genre:</label>
                            <input type="text" id="newBookGenre" name="newBookGenre"/>
                        </span>
                        <br>
                        <input type="submit"/>
                    </form>
                </fieldset>
            </div>

            <div>
                <h2>Update</h2>
                All fields must be filled. If removing publisher from item, please select 'No Publisher' option. Optionally, you may leave the field blank. <br />
                <b>This implements UPDATE of a NULLABLE relationship. </b>
                <fieldset>
                    <form id="updateBookForm"> 
                        <span style="margin: 0 10px">
                            <label for="selectBook">Book Title:</label>
                            <input type="text" id="selectBook" name="selectBook" list="data" autocomplete="off" placeholder="Select book to update">
                            <datalist id="data">
                                {{#each data}}
                                <option value="{{this.bookID}}">{{this.title}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateTitle">Title:</label>
                            <input type="text" id="updateTitle" name="updateTitle">
                        </span>
                        <span style="margin: 0 10px">
                            <label for="selectBookAuthor">Author:</label>
                            <input type="text" id="selectBookAuthor" name="selectBookAuthor" list="authors" autocomplete="off" placeholder="Select author for update">
                            <datalist id="authors">
                                {{#each authors}}
                                <option value="{{this.authorID}}">{{this.authorName}} - {{this.birthdate}} </option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateISBN">ISBN:</label>
                            <input type="text" id="updateISBN" name="updateISBN"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="selectBookPub">Publisher:</label>
                            <input type="text" id="selectBookPub" name="selectBookPub" list="publishers" autocomplete="off" placeholder="Select publisher for update">
                            <datalist id="publishers">
                                <option value="NULL"><i>No Publisher</i></option>
                                {{#each publishers}}
                                <option value="{{this.publisherID}}">{{this.name}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateGenre">Genre:</label>
                            <input type="text" id="updateGenre" name="updateGenre"/>
                        </span>
                        <br>
                        <input type="submit" onclick="return confirm('Are you sure you want to update this book?')"/>
                    </form>
                    <script src="./js/updateBook.js"></script>
                </fieldset>
            </div>
        </main>
    </body>
</html>