<!-- Authors: Group 29 Theresa Quach and Lianghui Wang -->
<!-- Course: CS340 -->
<!-- Project Name: Project Library -->
<!-- Citation:  Adapted from the starter code template from the github Nodejs starter app guide provided by Professor Curry and Professor Safonte from Oregon State University. -->
<!--            (https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main) -->       

<!DOCTYPE html>
<html>
    <head>
        <script async src="../app.js"></script>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />     
        <title>Project Library: Borrowing Records</title>
    </head>
    <body>
        <header> 
            <h1>Borrowing Records</h1>
            <div class="home-links">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrowers</a></li>
                    <li><a href="/borrowingrecords.html">Borrowing Records</a></li>
                    <li><a href="/borrowingrecorditems.html">Borrowing Record Items</a></li> 
                </ul>
            </nav>
            </div>
        </header>

        <main>
            <div>
                <h2>Browse Records</h2>
                <p> Borrowing records will populate here. 
                {{!-- Create a table--}}
                <table id="borrowingRecordsTable">

                    {{!-- Header section --}}
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.recordID}}>
                            <td>{{this.recordID}}</td>
                            <td>{{this.fullName}}</td>
                            <td>{{this.borrowDate}}</td>
                            <td>{{this.returnDate}}</td>
                            <td><button onClick="deleteRecord({{this.recordID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="/js/deleteRecord.js"></script>
            </div>
            
            <div>
                <h2>Add New</h2>
                <p> To add a new borrowing record, please enter or select the borrower's name, borrow date, and return date below, and then click Submit.
                All fields must be filled in.
                </p>
                
                <fieldset>
                    <form id="addBorrowingRecordForm" method="POST" action="/add-record-form">
                        <span style="margin: 0 10px">
                            <label for="inputBorrower">Borrower:</label>
                            <input type="text" id="inputBorrower" name="inputBorrower" list="borrowers" autocomplete="off" size="30" placeholder="Select Borrower for Record">
                            <datalist id="borrowers">
                                <option value="">Select a Borrower</option>
                                {{#each borrowers}}
                                <option value="{{this.borrowerID}}">{{this.fullName}} - {{this.email}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newBorrowDate">Borrow Date:</label>
                            <input type="date" id="newBorrowDate" name="newBorrowDate">
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newReturnDate">Return Date:</label>
                            <input type="date" id="newReturnDate" name="newReturnDate">
                        </span>
                        <br>
                        <input type="submit">
                    </form>
                </fieldset>
            </div>

            <br>

            <div>
                <h2>Update</h2>
                <p>Updates the return date to the current date (Return confirmation sent).</p>
                <fieldset>
                    <form id="updateRecordForm">
                        <span style="margin: 0 10px">
                            <label for="recordReturn">Borrowing Record:</label>
                            <select name="recordReturnId" id="recordReturnId">
                                <option value="test">Select a Record</option>
                                {{#each data}}
                                <option value="{{this.recordID}}">{{this.recordID}}</option>
                                {{/each}}
                            </select>
                        </span>
                        <br>
                        <input type="submit">
                    </form>
                    <script src ="/js/updateRecord.js"></script>
                </fieldset>
            </div>
        </main>
    </body>
</html>