<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/styles.css" />
        <script async src="../app.js"></script>
        <title>Project Library: Borrowers</title>
    </head>
    <body>
        <header>
            <h1>Borrowers</h1>
            <div class="home-links">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrowers</a></li>
                    <li><a href="/borrowingrecords.html">Borrowing Records</a></li>
                    <li><a href="/borrowingrecorditems.html">Borrowing Record Items</a></li> 
                </ul>
            </nav>
            </div>
        </header>

        <main>
            <div>
                <h2>Browse Borrowers</h2>
                Borrowers data will populate here.
                {{!-- Create a table--}}
                <table id="borrowersTable">

                    {{!-- Header section --}}
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.borrowerID}}>
                            <td>{{this.borrowerID}}</td>
                            <td>{{this.firstName}}</td>
                            <td>{{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phoneNum}}</td>
                            <td><button onclick="deleteBorrower({{this.borrowerID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/deleteBorrower.js"></script>
            </div>

            <div>
                <h2>Add New</h2>
                All fields must be filled in for entry to be added.
                <fieldset>
                    <form method="POST" id="addBorrower" action="/add-borrower">
                        <span style="margin: 0 10px">
                            <label for="newBorrowerFirst">First Name:</label>
                            <input type="text" id="newBorrowerFirst" name="newBorrowerFirst"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newBorrowerLast">Last Name:</label>
                            <input type="text" id="newBorrowerLast" name="newBorrowerLast"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newBorrowerEmail">Email:</label>
                            <input type="text" id="newBorrowerEmail" name="newBorrowerEmail"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newBorrowerPhone">Phone Number (15 characters max):</label>
                            <input type="text" id="newBorrowerPhone" name="newBorrowerPhone"/>
                        </span>
                        <br>
                        <input type="submit"/>
                    </form>
                </fieldset>
            </div>

            <div>
                <h2>Update</h2>
                All fields must be filled in for entry to be updated. If deleted books are still present on dropdown search menu, please refresh the page to get an updated dropdown.
                <fieldset>
                    <form id="updateBorrowerForm">
                        <span style="margin: 0 10px">
                            <label for="updateBorrowerFullName">Borrower:</label>
                            <input type="text" id="selectBorrower" name="updateBorrowerFullName" list="data" autocomplete="off" placeholder="Select Borrower">
                            <datalist id="data">
                                {{#each data}}
                                <option value="{{this.borrowerID}}">{{this.firstName}} {{this.lastName}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateBorrowerFirst">First Name:</label>
                            <input type="text" id="updateBorrowerFirst" name="updateBorrowerFirst"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateBorrowerLast">Last Name:</label>
                            <input type="text" id="updateBorrowerLast" name="updateBorrowerLast"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updateEmail">Email:</label>
                            <input type="text" id="updateEmail" name="updateEmail"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="updatePhone">Phone Number:</label>
                            <input type="text" id="updatePhone" name="updatePhone"/>
                        </span>
                        <br>
                        <input type="submit" onclick="return confirm('Are you sure you want to update this borrower?')"/>
                    </form>
                    <script src="./js/updateBorrower.js"></script>
                </fieldset>
            </div>
        </main>
    </body>
</html>