<!-- Authors: Group 29 Theresa Quach and Lianghui Wang -->
<!-- Course: CS340 -->
<!-- Project Name: Project Library -->
<!-- Citation:  Adapted from the starter code template from the github Nodejs starter app guide provided by Professor Curry and Professor Safonte from Oregon State University. -->
<!--            Code specifically adapted from the guide include portions containing {{handlebar expressions}} and id labels given to the table and forms below. -->
<!--            Other HTML, including grouping form elements and table elements, represents our own work. -->
<!--            (https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main) -->          
     
<!DOCTYPE html>
<html>
    <head>
        <script async src="../app.js"></script>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css" />     
        <title>Project Library: Borrowing Records</title>
    </head>
    <body>
        <header>
            <h1>Borrowing Record Items</h1>
            <div class="home-links">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrowers</a></li>
                    <li><a href="/borrowingrecords.html">Borrowing Records</a></li>
                    <li><a href="/borrowingrecorditems.html">Borrowing Record Items</a></li> 
                </ul>
            </nav>
            </div>
        </header>

        <main>
            <div>
                <h2>Browse Record Items</h2>
                <p>Records and their corresponding book items will populate here.</p>
                <p>Only one copy of an item is allowed per record. To re-borrow an item, please create a new record for the borrower. Otherwise, a bad request will be returned. <br />
                <b>Deletion of an M:N relationship is implemented on this intersection table.</b></p>
                {{!-- Create a table--}}
                <table id="borrowingRecordItemsTable">

                    {{!-- Header section --}}
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{#each data}}
                        <tr data-record={{this.recordID}} data-book={{this.bookID}}>
                            <td>{{this.recordID}}</td>
                            <td>{{this.bookID}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.borrowerName}}</td>
                            <td><button onClick="deleteRecordItem({{this.recordID}}, {{this.bookID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="/js/deleteRecordItem.js"></script>
            </div>
            
            <div>
                <h2>Add New</h2>
                Using the table above, please select the ID number of the record and the ID number of the book item to be added to that record. <br />
                Bad Request errors indicate that RecordID:BookID entry already exists.
                <fieldset>
                    <form method="POST" id="addRecordItem" action="/add-record-item-form">
                        <label for="recordItemIDs">Record ID:</label>
                        <span style="margin: 0 10px">
                            <select name="recordID" id="recordID">
                                <option value="">Select a record to add an item to:</option>
                                {{#each records}}
                                <option value="{{this.recordID}}">{{this.recordID}}</option>
                                {{/each}}
                            </select>
                        </span>
                        <label for="bookItemIDs">Book Title:</label>
                        <span style="margin: 0 10px">
                            <input type="text" id="itemID" name="itemID" list="items" autocomplete="off" size="30">
                            <datalist id="items">
                                {{#each items}}
                                <option value="{{this.bookID}}">{{this.title}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <br>
                        <input type="submit">
                    </form>
                </fieldset>
            </div>
            <br />
            <div>
                <h2>Update</h2>
                All fields must be filled. Updates to BorrowingRecordItems require that:
                <p>1) The current RecordID:BookID exists in the table above, and <br />
                2) The new RecordID:BookID combination does not already exist on the table above.</p>
                To update: select existing RecordID and BookID entry, then select new book to update to for that entry. <b>This implements UPDATE to an M:N relationship.</b><br />
                If update does not appear in table above, double check that record:book entry exists.
                <fieldset>
                    <form id="updateRecordItemForm">
                        <label for="updateRecordID">Record ID:</label>
                        <span style="margin: 0 10px">
                            <select name="selectBRIRecordID" id="selectBRIRecordID">
                                <option value="">1. Select a recordID to update:</option>
                                {{#each records}}
                                <option value="{{this.recordID}}">{{this.recordID}}</option>
                                {{/each}}
                            </select>
                        </span>
                        <span style="margin: 0 10px">
                            <select name="selectBRIBookID" id="selectBRIBookID">
                                <option value="">2. Select corresponding record's book to update:</option>
                                {{#each items}}
                                <option value="{{this.bookID}}">{{this.title}}</option>
                                {{/each}}
                            </select>
                        </span>
                        <span style="margin: 0 10px">
                            <input type="text" id="selectnewBRIBookID" name="selectnewBRIBookID" list="items" autocomplete="off" size="30">
                            <datalist id="items">
                                {{#each items}}
                                <option value="{{this.bookID}}">{{this.title}}</option>
                                {{/each}}
                            </datalist>
                        </span>
                        <br>
                        <input type="submit" onclick="return confirm('Are you sure you want to update this record?')"/>
                    </form>
                    <script src="./js/updateRecordItem.js"></script>
                </fieldset>
            </div>

        </main>
    </body>
</html>