<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/styles.css" />
        <script async src="../app.js"></script>
        <title>Project Library: Publishers</title>
    </head>
    <body>
        <header>
            <h1>Publishers</h1>
            <div class="home-links">
            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/authors.html">Authors</a></li>
                    <li><a href="/publishers.html">Publishers</a></li>
                    <li><a href="/books.html">Books</a></li>
                    <li><a href="/borrowers.html">Borrowers</a></li>
                    <li><a href="/borrowingrecords.html">Borrowing Records</a></li>
                    <li><a href="/borrowingrecorditems.html">Borrowing Record Items</a></li> 
                </ul>
            </nav>
            </div>
        </header>

        <main>
            <div>
                <h2>Browse Publishers</h2>
                Publishers data will populate here.
                {{!-- Create a table--}}
                <table id="publishersTable">

                    {{!-- Header section --}}
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                            <th>Delete</th>
                        </tr>
                    </thead>

                    {{!-- Body section --}}
                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.publisherID}}>
                            <td>{{this.publisherID}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.contact}}</td>
                            <td><button onclick="deletePublisher({{this.publisherID}})">Delete</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <script src="./js/deletePublisher.js"></script>
            </div>
            
            <div>
                <h2>Add New</h2>
                <fieldset>
                    <form method="POST" id="add-publisher" action="/add-publisher">
                        <span style="margin: 0 10px">
                            <label for="newPubName">Name:</label>
                            <input type="text" id="newPubName" name="newPubName"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newPubAddress">Address:</label>
                            <input type="text" id="newPubAddress" name="newPubAddress"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="newPubContact">Contact:</label>
                            <input type="text" id="newPubContact" name="newPubContact"/>
                        </span>
                        <br>
                        <input type="submit"/>
                    </form>
                </fieldset>
            </div>

            <div>
                <h2>Update</h2>
                <fieldset>
                    <form method="POST" id="updatePublisher">
                        <span style="margin: 0 10px">
                            <label for="pubSelectNameU">Publisher:</label>
                            <input type="text" id="pubSelectNameU" name="pubSelectNameU" list="publishersU" autocomplete="off">
                            <datalist id="publishersU">
                                <option value="HarperCollins Publisher"></option>
                                <option value="Penguin Classics"></option>
                                <option value="Dover Publications"></option>
                            </datalist>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="publisherIDU">ID:</label>
                            <input type="text" id="publisherIDU" name="publisherIDU" value="1" readonly/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="pubNameU">Name:</label>
                            <input type="text" id="pubNameU" name="pubNameU" value="HarperCollins Publisher"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="pubAddress">Address:</label>
                            <input type="text" id="pubAddressU" name="pubAddressU" value="195 Broadway, New York, NY 10007"/>
                        </span>
                        <span style="margin: 0 10px">
                            <label for="pubContact">Contact:</label>
                            <input type="text" id="pubContactU" name="pubContact" value="1-800-242-7737"/>
                        </span>
                        <br>
                        <input type="submit" onclick="return confirm('Are you sure you want to update this publisher?')"/>
                    </form>
                </fieldset>
            </div>
        </main>
    </body>
</html>